/* Container principal */
.ponto-venda-container {
  width: 1400px;
  margin: 0 auto;
}

/* Nome do item */
.cabecalho-ponto-venda {
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  margin: 20px 32px 16px;
  background: white;
  color: black;
  border-radius: 18px;
  border: 5px solid black;
  padding: 12px 0;
}

/* Painel de itens */
#painel-itens {
  display: flex;
  justify-content: center;
  gap: 16px;
}

/* Coluna lateral */
.barra-lateral {
  width: 420px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  border-radius: 18px;
}

/* Cards azuis escuros */
.cartao-escuro {
  display: flex;
  flex-direction: column;
  border-radius: 18px;
  background: #003254;
}

/* Alturas específicas */
.cartao-escuro.codigo-desconto { height: 128px; }
.cartao-escuro.valor-unitario,
.cartao-escuro.total-item { height: 112px; }

/* Header interno de cada card */
.cartao-escuro > .titulo-cartao {
  align-self: flex-start;
  font-size: 28px;
  font-weight: 600;
  color: white;
  padding-left: 28px;
}
.cartao-escuro.codigo-desconto > .titulo-cartao { padding: 10px 0 9px 28px; }
.cartao-escuro.valor-unitario > .titulo-cartao,
.cartao-escuro.total-item > .titulo-cartao { padding: 10px 0 4px 28px; }

/* Input de codigo-desconto */
.cartao-escuro.codigo-desconto .cartao-input-wrapper {
    display: flex;
    justify-content: center;
    padding-bottom: 16px;
    margin-bottom: 8px;
}
.cartao-escuro.codigo-desconto .cartao-input-wrapper input {
  width: 325px;
  height: 48px;
  border-radius: 18px;
  border: 1px solid #ccc;
  font-size: 20px;
  font-weight: 600;
  color: black;
  background: white;
  padding: 0 12px;
}

/* Valor unitário e total do item */
.cartao-escuro.valor-unitario .valor-cartao,
.cartao-escuro.total-item .valor-cartao {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex: 1;
  padding-right: 28px;
  padding-bottom: 12px;
  margin-top: -16px;
}
.cartao-escuro.valor-unitario .valor-cartao h2,
.cartao-escuro.total-item .valor-cartao h2 {
  font-size: 50px;
  font-weight: 600;
  color: white;
}

/* Lista de atalhos (F1, F2...) */
.cartao-atalhos {
  display: flex;
  height: 128px;
  background: #003254;
  flex-direction: column;
  border-radius: 18px;
  justify-content: center;
  padding: 8px;
}
.cartao-atalhos ul {
  margin: 0;
  padding: 0 0 0 16px;
  list-style: none;
}
.cartao-atalhos ul li {
  font-size: 20px;
  font-weight: 600;
  color: white;
  margin-bottom: 2px;
}
.cartao-atalhos ul li:last-child {
  margin-bottom: 0;
}

/* Coluna principal */
.coluna-principal {
  width: 900px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  border-radius: 18px;
}

/* Wrapper da tabela */
.carrinho-wrapper {
  display: flex;
  height: 384px;
  background: white;
  align-items: top;
  justify-content: center;
  border-radius: 18px;
  border: 5px solid black;
  overflow-y: overlay;
  overflow-x: hidden;
}

/* Scrollbar */
.carrinho-wrapper::-webkit-scrollbar {
  width: 12px;
}

.carrinho-wrapper::-webkit-scrollbar-track {
  background: transparent;
}

.carrinho-wrapper::-webkit-scrollbar-thumb {
  background: #003254;
  border-radius: 10px;
}

/* Tabela de itens */
.carrinho {
  font-family: Arial, Helvetica, sans-serif;
  border: 0px solid #FFFFFF;
  background-color: #FFFFFF;
  width: 100%;
  height: 200px;
  text-align: center;
  border-collapse: collapse;
  border-radius: 18px;
}

.carrinho td, .carrinho th {
  border: 0px solid #0076c4;
  padding: 4px 7px;
}
.carrinho tbody td {
  font-size: 13px;
  color: #000000;
}
.carrinho td:nth-child(even) {
  background: #D0E4F5;
}
.carrinho thead {
  background: #003254;
}
.carrinho thead th {
  font-size: 15px;
  font-weight: bold;
  color: #FFFFFF;
  text-align: center;
  border-left: 2px solid #D0E4F5;
}
.carrinho thead th:first-child {
  border-left: none;
}

.carrinho tfoot td {
  font-size: 14px;
}
.carrinho tfoot .links {
  text-align: right;
}
.carrinho tfoot .links a{
  display: inline-block;
  background: #003254;
  color: #FFFFFF;
  padding: 2px 8px;
  border-radius: 5px;
}

/* Tamanho das colunas */
/*Nº item*/
.carrinho th:nth-child(1),
.carrinho td:nth-child(1) {
  width: 50px;
}
/*Código*/
.carrinho th:nth-child(2),
.carrinho td:nth-child(2) {
  width: 100px;
}
/*Descrição*/
.carrinho th:nth-child(3),
.carrinho td:nth-child(3) {
  width: 300px;
}

/*Quantidade*/
.carrinho th:nth-child(4),
.carrinho td:nth-child(4) {
  width: 50px;
}

/*Valor Unitário*/
.carrinho th:nth-child(5),
.carrinho td:nth-child(5) {
  width: 100px;
}
/*Total*/
.carrinho th:nth-child(6),
.carrinho td:nth-child(6) {
  width: 100px;
}



/* Valor total geral */
.cartao-total {
  display: flex;
  height: 128px;
  background: #003254;
  border-radius: 18px;
}
.cartao-total .rotulo {
  align-self: flex-start;
  font-size: 48px;
  font-weight: 600;
  color: white;
  padding: 24px 0 0 24px;
}
.cartao-total .valor {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex: 1;
  padding-right: 32px;
}
.cartao-total .valor h2 {
  font-size: 96px;
  font-weight: 600;
  color: white;
}
